*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: 'Libre Baskerville', serif;
	font-size: 14px;
	line-height: 24px;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Domine', serif;
}
a,a:hover{
	text-decoration: none;
}

/*project start */




/*project end */
